<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
</head>
<body>

<div class="container">
    <header>
        <a id="header" href="{{ site.url }}">{{ site.title }}</a>
        <div id="description">{{ site.description }}</div>
        <div>***</div>
    </header>
    <nav>
        {% assign sortedCategories = site.category | sort %}
        {% for category in sortedCategories %}
        <a href="{{ category.url | relative_url }}">{{ category.name }}</a>
        {% endfor %}

    </nav>

    <footer>
        <div><a href="{{ "/about" | relative_url }}">About</a></div>
        // <a href="{{ "/feed.xml" | relative_url }}">RSS</a> //
        <a href="https://github.com/noximo/betterphp/">GitHub</a> //
        <a href="https://twitter.com/noximo/">Twitter</a> //
    </footer>
    <main>{{ content }}</main>
</div>


</body>
</html>
